@page "/UsuarioAgente"
@using AdministradorAmet.Models
@using Newtonsoft.Json
@using Radzen.Blazor
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject Radzen.DialogService DialogService



<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

<div class="header-container">
    <h1 class="title">Agentes</h1>
</div>

@if (alertaVisible)
{
    <RadzenAlert Title="Éxito" AlertStyle="AlertStyle.Info" Visible="true" Variant="Radzen.Variant.Flat" Shade="Shade.Lighter" Icon="info">
        Usuario eliminado correctamente.
    </RadzenAlert>
}

@if (errorVisible)
{
    <RadzenAlert Title="Error" AlertStyle="AlertStyle.Danger" Visible="true" Variant="Radzen.Variant.Flat" Shade="Shade.Lighter" Icon="error">
        No se pudo eliminar el usuario.
    </RadzenAlert>
}


<div class="container">
    <div class="button-container">
        <RadzenButton Text="Nuevo"
                      Icon="add"
                      Class="create-button"
                      Click="NavigateToCrearUsuario"
                      ButtonStyle="ButtonStyle.Success"
                      Style="width: 140px; height: 40px; background-color: #009C40; color: white; border: 3px solid #009C40;" />
    </div>
    <hr class="divider" />
    <div class="search-and-buttons-container" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
        <!-- Botones (Izquierda) -->
        <div class="buttons-container" style="display: flex; align-items: center;">
            <RadzenButton Text="Agente"
                          Class="search-button"
                          Style="height: 30px; border-radius: 10px; border: 2px solid #009C40;
                            background-color: white; color: #009C40; font-family: 'Poppins', sans-serif; 
                            font-weight: 500; padding: 5px 10px; font-size: 14px; margin-left: 10px;" Click="NavigateToUsuarioAgente" />
            <RadzenButton Text="Administrador"
                          Class="search-button"
                          Style="height: 30px; border-radius: 10px; border: 2px solid #009C40; 
                    background-color: white; color: #009C40; font-family: 'Poppins', sans-serif; 
                    font-weight: 500; padding: 5px 10px; font-size: 14px; margin-left: 10px; " Click="NavigateToUsuarioAdministrador" />
            <RadzenButton Text="Ciudadano"
                          Class="search-button"
                          Style="height: 30px; border-radius: 10px; border: 2px solid #009C40; 
                    background-color: white; color: #009C40; font-family: 'Poppins', sans-serif;
                    font-weight: 500; padding: 5px 10px; font-size: 14px; margin-left: 10px;" Click="NavigateToUsuarioCiudadano" />
        </div>

        <!-- Barra de búsqueda (Derecha) -->
        <div class="search-container">
            <label for="search" class="search-label" style="margin-right: 10px;">Buscar:</label>
            <RadzenTextBox Placeholder="Buscar usuario..."
                           ValueChanged="@(value => BuscarUsuario(value))"
                           Style="margin-bottom: 10px; height: 30px; width: 280px;"
                           Value="@searchText"
                           id="search" />
        </div>
    </div>

    @if (users == null)
    {
        <p>Cargando....</p>
    }
    else
    {
        <div>
            <RadzenDataGrid AllowPaging="true" AllowFiltering="true" PageSize="9"
                            AllowSorting="true" Data="@filteredUsers" TItem="User"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
                <Columns>
                    <RadzenDataGridColumn TItem="User" Title="Nombre Completo" Width="95px">
                        <HeaderTemplate>
                            <span style="font-weight: bold; font-size: medium; font-family: 'Poppins', sans-serif;">Nombre completo</span>
                        </HeaderTemplate>
                        <Template Context="usuario">
                            <div style="display: flex; align-items: center;">
                                <img src="@GetImagePath(usuario.Gender)" alt="Avatar" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 20px;" />
                                <span style="font-family: 'Roboto', sans-serif; font-size: medium;">@usuario.FullName</span>
                            </div>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="User" Property="Cedula" Width="70px">
                        <HeaderTemplate>
                            <span style="font-weight: bold; font-size: medium; font-family: 'Poppins', sans-serif;">Cédula</span>
                        </HeaderTemplate>
                        <Template Context="usuario">
                            <span style="font-family: 'Roboto', sans-serif;font-size: medium">@usuario.Cedula</span>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="User" Property="Gender" Width="65px">
                        <HeaderTemplate>
                            <span style="font-weight: bold; font-size: medium; font-family: 'Poppins', sans-serif;">Sexo</span>
                        </HeaderTemplate>
                        <Template Context="usuario">
                            <span style="font-family: 'Roboto', sans-serif;font-size: medium">@usuario.Gender</span>
                        </Template>
                        <Template Context="usuario">
                            @if (string.IsNullOrWhiteSpace(usuario.Gender))
                            {
                                <span style="display: block; text-align:justify; width: 100%;font-size:large">-</span>  <!-- Muestra un guion si no hay valor -->
                            }
                            else
                            {
                                <span style="font-family: 'Roboto', sans-serif; font-size: medium;">@usuario.Gender</span>
                            }
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="User" Property="NoAgente" Width="70px">
                        <HeaderTemplate>
                            <span style="font-weight: bold; font-size: medium; font-family: 'Poppins', sans-serif;">No.Agente</span>
                        </HeaderTemplate>
                        <Template Context="usuario">
                            <span style="font-family: 'Roboto', sans-serif; font-size: medium">@usuario.NoAgente</span>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="User" Property="Role" Width="70px">
                        <HeaderTemplate>
                            <span style="font-weight: bold; font-size: medium; font-family: 'Poppins', sans-serif;">Tipo de Usuario</span>
                        </HeaderTemplate>
                        <Template Context="usuario">
                            <span style="font-family: 'Roboto', sans-serif;font-size: medium">@usuario.Role</span>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="User" Width="50px" Title="Acción">
                        <HeaderTemplate>
                            <span style="font-weight: bold; font-size: medium; font-family: 'Poppins', sans-serif;">Acción</span>
                        </HeaderTemplate>
                        <Template Context="usuario">
                            <!-- Icono de ojo para "Ver" -->
                            <span style="cursor: pointer; margin-right: 10px;" @onclick="() => VerUsuario(usuario)">
                                <i class="material-icons" style="font-size: 20px; color: #009C40;">visibility</i>
                            </span>
                            <!-- Icono de papelera para "Eliminar" -->
                            <span style="cursor: pointer;" @onclick="() => ConfirmarEliminacion(usuario)">
                                <i class="material-icons" style="font-size: 20px; color: #d32f2f;">delete</i>
                            </span>
                        </Template>
                    </RadzenDataGridColumn>


                </Columns>
            </RadzenDataGrid>
        </div>
    }

</div>
@* <RadzenAlert Title="Usuario eliminado correctamente"
             AlertStyle="AlertStyle.Success"
             Shade="Shade.Lighter"
             Visible="@showAlert"
             Close="()=>showAlert = false" /> *@




@code {
    private IEnumerable<User> users;
    private IEnumerable<User> filteredUsers;
    private string searchText = string.Empty;
    private bool showAlert = false; // Controla si la alerta se muestra
    bool alertaVisible = false;
    bool errorVisible = false;



    protected override async Task OnInitializedAsync()
    {
        await CargarUsuarios();

    }

    private async Task CargarUsuarios()
    {
        try
        {
            var response = await Http.GetStringAsync("https://localhost:7277/api/User/all");
            users = JsonConvert.DeserializeObject<List<User>>(response);

            // Filtrar solo los administradores
            filteredUsers = users.Where(user => user.Role == "Agente").ToList();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar usuarios: {ex.Message}");
        }
    }


    private void BuscarUsuario(string value)
    {
        if (string.IsNullOrWhiteSpace(value))
        {
            filteredUsers = users.Where(user => user.Role == "Agente").ToList();
            return;
        }

        filteredUsers = users.Where(user =>
        {
            return user != null &&
                   (user.FullName?.Contains(value, StringComparison.OrdinalIgnoreCase) == true ||
                    user.Gender?.Contains(value, StringComparison.OrdinalIgnoreCase) == true ||
                    user.Cedula?.Contains(value, StringComparison.OrdinalIgnoreCase) == true ||
                    user.Phone?.Contains(value, StringComparison.OrdinalIgnoreCase) == true ||
                    user.Role?.Contains(value, StringComparison.OrdinalIgnoreCase) == true) &&
                   user.Role == "Agente";  // Filtrar solo administradores
        }).ToList();
    }


    private void NavigateToCrearUsuario()
    {
        NavigationManager.NavigateTo("/CreateUser");
    }

    private void NavigateToUsuarioAgente()
    {
        NavigationManager.NavigateTo("/UsuarioAgente");
    }

     private void NavigateToUsuarioCiudadano()
    {
        NavigationManager.NavigateTo("/UsuarioCiudadano");
    }

    private void NavigateToUsuarioAdministrador()
    {
        NavigationManager.NavigateTo("/UsuarioAdministrador");
    }

    private void VerUsuario(User user)
    {
        NavigationManager.NavigateTo($"/perfilAgente");
    }

  

    // Método para mostrar el diálogo de confirmación
    void ConfirmarEliminacion(User usuario)
    {
        DialogService.Confirm("¿Estás seguro de que deseas eliminar este usuario?", "Confirmar Eliminación", new ConfirmOptions() { OkButtonText = "Sí", CancelButtonText = "No" })
            .ContinueWith(async task =>
            {
                if (task.Result == true)
                {
                    await EliminarUsuario(usuario.Cedula);
                }
            });
    }
    async Task EliminarUsuario(string cedula)
    {
        try
        {
            var response = await Http.DeleteAsync($"https://localhost:7277/api/User/{cedula}");

            if (response.IsSuccessStatusCode)
            {
                // Actualiza la lista local de usuarios eliminando al usuario eliminado
                users = users.Where(u => u.Cedula != cedula).ToList();
                filteredUsers = users;

                // Notifica a la UI que hubo cambios
                StateHasChanged();

                // Muestra la alerta de éxito y la oculta después de 3 segundos
                await MostrarAlerta(true);
            }
            else
            {
                Console.WriteLine($"Error al eliminar usuario: {response.ReasonPhrase}");

                // Muestra la alerta de error y la oculta después de 3 segundos
                await MostrarAlerta(false);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error en la eliminación: {ex.Message}");

            // Muestra la alerta de error y la oculta después de 3 segundos
            await MostrarAlerta(false);
        }
    }




    private string GetImagePath(string gender)
    {
        if (gender == "Masculino")
        {
            return "imagenes/usuario.png";
        }
        else if (gender == "Femenino")
        {
            return "imagenes/femenina.png";
        }
        else
        {
            return "imagenes/usuario.png";  // Imagen predeterminada
        }
    }
    async Task MostrarAlerta(bool exito)
    {
        if (exito)
        {
            alertaVisible = true;
            errorVisible = false;
        }
        else
        {
            alertaVisible = false;
            errorVisible = true;
        }

        StateHasChanged(); // Actualiza la UI inmediatamente para que la alerta sea visible

        await Task.Delay(2000); // Muestra la alerta durante 3 segundos

        alertaVisible = false;
        errorVisible = false;

        StateHasChanged(); // Vuelve a actualizar la UI
    }

}

